@import "tailwindcss";

/* Theme Light */
@theme {
    --color-primary: #3490dc;
    --color-secondary: #ffed4a;
    --color-background: #fff;
}

/* Theme Dark */
@variant dark (&:is(.dark, .dark *));

.dark {
    --color-primary: #05081c;
    --color-secondary: #f66d9b;
    --color-background: #000;
}

.animate-spin {
    animation: spin 1.3s linear infinite;
}
